body {
  background-color: black;
  padding: 10px;
  border-color: white;
  border: 10px;
  margin: 5%;
}

h1 {
  color: white;
  font-family: helvetica;
}

p {
  color: white;
  font-family: helvetica;
}
