body {
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 16pt;
  background-color: black;
  padding: 10px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
h1 {
  font-size: 15pt;
  color: black;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}
h2 {
  color: black;
  text-align: center;
}
p {
  color: black;
  text-align: center;
  padding: 16px;
  margin: 0;
}

div {
  background-color: white;
  opacity: 0.7;
  margin: auto;
}

.seconddiv {
  margin: auto;
  width: 50%;
  border: 20px solid blue;
  padding: 10%;
}

.thirddiv {
  margin: auto;
  width: 40%;
  border: 10px solid blueviolet;
  padding: 10%;
}

.section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
