body {
    background-color: black;
  }
  h1 {
    color: blue;
    text-align: center;
  }
  p {
    color: red;
    text-align: center;
  }

  div {
    background-color:white;
    opacity: 0.3;
    margin: auto
  }

  .seconddiv {
    margin: auto;
    width: 50%;
    border: 20px solid blue;
    padding: 10%;
  }

  .thirddiv {
    margin: auto;
    width: 40%;
    border: 10px solid blueviolet;
    padding: 10%;
  }